@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;   
}


header{
    @include flexCenter();
    background-color: pink;
    height: 100vh;
button{
    background: $primaryBtn;
    &:hover{
        background-color: greenyellow;
    }
}
}